*{
    
    padding: 0;
    font-size: 20px;
      font-family: 'Assistant', sans-serif;
      
      margin: 0;
      
    
  }
  .loja-header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #104A80;
  width: 100%;
  box-shadow: 4px 11px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: solid 2px #d4af37;
  height: 50px;;
}

.logo img {
  width: 100px; 
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.search-box input[type="search"] {
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  background-color: #F5F9F8;
  box-shadow: 4px 11px 10px rgba(0, 0, 0, 0.7);
  border: solid 2px #d4af37;
  
  
  
}

.search-box button {
  padding: 10px 20px;
  background-color: #F5F9F8;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  color: black;
  transition: background-color 0.5s ease;
  box-shadow: 4px 11px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.search-box button:hover {
background-color: #d4af37; 
  color: #0F4C83;
  transform: scale(1.2);



}


.perfil img {
  width: 50px;
  margin-left: 15px; 
  margin-right: 20px;
}
 .pai{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
 }
  
  .resumo{
    background-color: #0F4C83;
    color: white;
    width: 800px;
    margin-right: 5px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 8px 5px 35px rgba(0, 0, 0, 0.6);
    border: solid 2px #658EC6;
    
    

  }

   p{
    font-size: 15px;
    margin-left: 15px;
    margin-right: 25px;

  }
  .resumo, .formapgto h1{
    margin-left: 15px;
  }
  .subtotal, .frete, .total, .cupom{
    display: flex;
    justify-content: space-between;
  }
  .frete{
    
    border-bottom: solid 1px  ;
  }
  .botao-continue  button {
  padding-left: 15px;
  padding-right: 15px;
 margin-bottom: 16px;
 margin-top: 10px;
  
  background-color: #F5F9F8;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin-left: 10px;
  color: black;
  transform: scale(1);
  transition: transform 0.3s ease;
  box-shadow: 4px 11px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  
 
 
}
.botao-continue   button:hover {
background-color: #d4af37; 
  color: #0F4C83;
  transform: scale(1.2);



}
.botao-continue{
   justify-content: center;
    display: flex;
    
}
.formapgto{
    margin-top: 30px;
    background-color: #0F4C83;
    color: white;
    width: 500px;
    
    border-radius: 5px;
   
    margin-top: 30px;
    box-shadow: 8px 5px 35px rgba(0, 0, 0, 0.6);
    border: solid 2px #658EC6;
}
.formapgto input[type="radio"] {
    margin-left: 10px;
    margin-top: 20px;
}

footer {
  width: 100%;
  height: 250px;
  margin-bottom: 0;
  margin-top: 470px;
  
}

footer .main {

  width: 100%;
  height: 200px;
  background-color: #104A80;
  padding: 20px 10px;
  border-radius: 3px;
  padding-right: 35px;
  border: solid 1px #658ec6;
}

.footer-links {
  padding-right: 35px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-company,
.link-uteis,
.footer-contact,
.rede-social {
  color: white;
  height: 100%;
  
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .rede-social img {
  width: 32px;
  height: 32px;
}

footer .inferior {
  width: 100%;
  height: 50px;
  background-color: #104A80;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 44px;
}
  h6 a {
      color:white;
  }


  .rodape-inferior {
    background-color: #0f4c83;
  border: solid 1px #658ec6;
    padding: 20px;
    text-align: center;
    display: flex;
    width: 100%;
    color: #fff;
    
    
  }
  
  .formas-pagamento {
    margin-top: 20px; 
    
  }

  
  ul.lista-pagamento {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display:inline-block;
    margin: 0 10px;
  }
  
  .lista-pagamento img {
    max-height: 40px;
    max-width: 100px;
    color: #F5F9F8;
  }
  .certificados {
    
    text-align: right;
    margin-left: 1000px; 
    
    
    
    
  }
  
  .certificados h3 {
    margin-top: 40px;
    color: #fff;
    
    
    
  }
  
  .imagens-certificados img {
    
    margin-bottom: 10px;
    max-width: 200px; 
    
  }